.img {
    width: 90%;
    height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.carousel,
.carousel .carousel-inner,
.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item,
.view,
body,
html {
    height: 100%
}

.navbar {
    background-color: rgba(0, 0, 0, .2)
}

.page-footer,
.top-nav-collapse {
    background-color: #1C2331
}

@media only screen and (max-width:768px) {
    .navbar {
        background-color: #1C2331
    }
}

.bc {
    background-color: #1C2331;
}